.container {
  .table {
    thead {
      background-color: $c5-bg-c;
      tr {
        th {
          @media screen and (max-width: 800px) {
            font-size: 12px;
          }
        }
      }
    }
    tbody {
      tr {
        td {
          button.plus-minus {
            @media screen and (max-width: 800px) {
              font-size: 10px;
            }
          }
          span.quantity {
            background-color: $c5-bg-c;
            @media screen and (max-width: 800px) {
              font-size: 12px;
            }
          }
          button.edit {
            background-color: $c4-bgbt-c;
            color: white;
          }
          img.shoes {
            width: 85px;
            @media screen and (max-width: 600px) {
              width: 60px;
            }
          }
        }
        .text {
          @media screen and (max-width: 800px) {
            font-size: 12px;
          }
        }
        td.action {
          @media screen and (max-width: 768px) {
            button.edit,
            button.btn-danger {
              width: 60px;
              font-size: 12px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  form {
    .btn.btn-warning {
      &:hover {
        color: $c6-text-c;
      }
    }
  }
}
