.container {
  .table {
    thead {
      background-color: $c5-bg-c;
      tr {
        th {
        }
      }
    }
    tbody {
      tr {
        td {
          
          button.plus {
            width: 25px;
            height: 25px;
            color: $c6-text-c;
            font-size: $c1-text-s;
            background-color: $c3-bgbt-c;
          }
          button.minus {
            width: 25px;
            height: 25px;
            color: $c6-text-c;
            font-size: $c1-text-s;
            background-color: $c3-bgbt-c;
          }
          span.quantity {
            background-color: $c5-bg-c;
          }
          button.edit {
            background-color: $c4-bgbt-c;
            color:white
          }
        }
        td.action {
          @media screen and (max-width: 768px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            button.edit,
            button.btn-danger {
              width: 60px;
              font-size: 12px;
              margin-bottom: 5px;
            }
          }
        }
      }
    }
  }
  form {
    .btn.btn-warning {
      &:hover {
        color: $c6-text-c;
      }
    }
  }
}
